{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": ["react"],

  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },

  "rules": {
    "no-console": 0,
    "comma-dangle": ["error", "always-multiline"],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "react/prop-types": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-deprecated": 0
  }
}
